<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>L0 - 小吧啦子</string>
		<key>content</key>
		<string>26个字母认识我，我认不认识它们不太确定。哇咔咔，小吧啦子我怕谁😱</string>
	</dict>
	<dict>
		<key>title</key>
		<string>L1 - 萌萌哒哒</string>
		<key>content</key>
		<string>每次&quot;一不小心&quot;参与到老外对话，总能镇定地露出抽筋微笑(很多童鞋坦诚，之后几天面部肌肉酸痛)，辅以&quot;今天没吃药感觉萌萌哒&quot;的礼节注视对方，并时常微微点头，表示自己明白意思😰

一段话下来，内心无比狂乱地发现，除了冷不丁能抓住1-2无关紧要意思外，剩下的只能继续萌萌哒，咬牙掌握点头示意的时间差。

此阶段特点：多沉溺于人机跟读，以获90分+为“得瑟触点”💪💪直到某一天，发现老外录音得分，竟始终在60-70分徘徊😰😰

频频晒出录音，美名“小白求带”、“求矫正”，若不巧声音如林姐姐般销魂😍可秒刷来无数大小boss相助(不少夹杂着正宗天朝官话，或天朝方言外语)🙀</string>
	</dict>
	<dict>
		<key>title</key>
		<string>L2 - 狂拽酷炫</string>
		<key>content</key>
		<string>喜欢研究龌龊词句和俚语，并以使用后&quot;令老外面露惊讶(一半以上概率是择词不当造成)、天朝童鞋不知所措&quot;为荣。
            
那些天生可蛋疼的童鞋，热衷于公共场所，特别是众多妹纸包围点，比如地铁、酒吧、咖啡厅、相亲角等地，很自豪、很碉堡、很大声地，折磨电话或面对面的老外💦😻把老外当成智商不超过80的弱智孩纸，用10句表达1句的方式，进行得瑟的对话，并有节奏地，带着&quot;哥碉堡了吧&quot;的眼神，扫视围观狂汗人群，特别是妹纸们的反应。

修炼至此级童鞋，不再提低级语言问题(主要是面子扛不住)，改上瘾施虐小白提问，逐渐发展为&quot;帮助强迫症&quot;，满足答题后之&quot;光荣使命感&quot;，毫无恐误人子弟之愧疚。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>L3 - 吐槽星人</string>
		<key>content</key>
		<string>无节操、无底线！对洋文化充满扭曲热情，天朝文化研习水平低下，卧室没有电视，手机必装爱骑艺、逊雷影视、馊狐视频，电脑桌面必有我哎美剧、诸猪影视、射叟网(虽连接已无效多日，依旧未舍得删除)。

观看记录&quot;非日即美&quot;，能在无字幕原版下痛苦存活，曾公开表示鄙视字幕流(给其选择，依然无耻首选射手姐姐们)，口头禅&quot;没有VPN怎么活啊?!&quot;
            
遇老外聚会或饭局，扮演解说天朝悠久文化之喷手，丝毫不顾对方是否Care。当周围小白问其&quot;所言鸟语何意&quot;时，往往笑而所答非问，老外不懂咱天朝文化博大精深云云。

鄙视任何人机交互方式(多因早年人机跟读得分低下之心理创伤造成)😭😭。鸟语发音已极少犯错，录音热情骤降为0，偶尔为之只因“感觉萌萌哒”😝

迷恋高贵酷炫伦敦音(都是夏洛克、Doctor Who惹的祸)👿，频频光顾英式交流地。每每嘴痒炫技，并非欲求不满，实为楼下无良模仿者，玷污圣音到令人发指的地步😡😡😡
            
此级修炼，因人而异，如有雷同，纯属不意外😏😏</string>
	</dict>
	<dict>
		<key>title</key>
		<string>L4 - 二次元生肉</string>
		<key>content</key>
		<string>与老外沟通，不会热心解说天朝文化，说话也不再注视对方(偶尔打完鸡血异常兴奋、或疑似眉目传情别有企图除外)
            
经常无意识爆出高难度动作，比如一边往嘴塞东西一边鸟语，对方表示没听清，即表现很不耐烦，复述一遍后常带一句&quot;what the fuck is wrong with u?!💦&quot;
            
天朝式儒雅成为古代，时不时打断对方说话，表达自己的想法。对洋文化热情大减，批判日渐增多，&quot;一根筋&quot;、&quot;不负责任(多指男女关系)&quot;、&quot;White trash&quot;等出现频率增多，对天朝文化精粹的认可，出现理智回归。

不愤怒他人无知，不窃喜自己碉堡，
鸟语江湖之恩怨，皆数释怀化一笑。

不发帖子、不晒录音、不想答题、不宵显摆。境界这么高??😶😶&quot;高个毛线...那是因为老子懒得搞!!&quot;😹😹
            
修炼至此级别，妹纸们也痛苦地明白，西方字典中根本没有&quot;发嗲&quot;、&quot;作&quot;等词汇存在，Yellow Fever再妖娆，也骚不过No Zuo No Die。参透此级，实为立志嫁洋鸟，或制造混血孩纸情结童鞋之必修👍</string>
	</dict>
	<dict>
		<key>title</key>
		<string>L5 - 天外灰仙</string>
		<key>content</key>
		<string>额...神龙见尾不见首，变态牛🅱碉炸天😱🙀，小编怎么找得到嘛！反正传说中，它们不是人、很低调、不为考试、不为升职、不为嫁人、很能隐身，偶尔发个功，老外直接弹飞。
            
天外灰仙，大隐于市!
你信吗? 反正小编信了...
</string>
	</dict>
</array>
</plist>
